body{
    padding: 0%;
    margin: 0%;
    align-content: center;
}
span{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 80px;
    font-style:oblique;
}
.main-container{
    align-items: center;
    margin-left: 350px;
    margin-top: 100px;
}